{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <h2>Liste des contacts</h2>
    <ul>
        {% for c in contacts %}
        <li>
            <a href="{{ path('app_contact_show', {'id': c.id}) }}">
                {{ c.firstName }} {{ c.lastName }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: beige;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('app.css') }}">
{% endblock %}