{% extends 'base.html.twig' %}

{% block title %}Détails d'un contact{% endblock %}

{% block body %}
    <h2>Détails d'un contact</h2>

{#    {{ dump(contact) }}#}

    <p>
        Prénom : {{ contact.firstName }}
    </p>
    <p>
        Nom : {{ contact.lastName }}
    </p>
    {% if contact.email %}
    <p>
        Email : {{ contact.email }}
    </p>
    {% endif %}
    {% if contact.phone %}
    <p>
        Téléphone : {{ contact.phone }}
    </p>
    {% endif %}
    {% if contact.company %}
        <p>
            Société : {{ contact.company.name }}
        </p>
    {% endif %}

    {% if contact.tags | length %}
        <p>
            Tags :
            {% for t in contact.tags %}
            <span>{{ t.name }}</span>
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}
